body {
  background-color: #000;
}

@media screen and (min-width: 1024px) {
  body .navguest {
    padding: 20px 120px !important;
  }
}

body .navguest {
  box-shadow: none !important;
  background: none !important;
}

body .welcome {
  height: 600px;
  margin-top: -96px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #1E00FF;
  background-image: url(/images/geometry2.png?8b9eb18dd056013d16b945613a1ca86f);
  background-blend-mode: multiply;
  background-position: 0px 0px;
  -webkit-mask-position-x: 0px;
  padding: 104px 24px 64px;
}

body .welcome .welcome-inner-main {
  font-weight: bold;
  font-feature-settings: "palt";
  color: #fff;
  font-size: 32px;
}

body .welcome .welcome-inner-discription {
  color: #fff;
  font-size: 18px;
  width: 100%;
  font-feature-settings: "pwid";
  line-height: 2;
}

@media screen and (min-width: 1024px) {
  body .welcome {
    padding: 0 120px !important;
  }
}

body #main-container {
  max-width: 1200px;
  background-color: #000;
  margin: 30px auto 0 auto;
}

body #main-container .tabs {
  width: 50%;
  margin: 10px auto;
  position: relative;
}

body #main-container .tabs .tab-buttons span {
  font: 400 14px "open sans", sans-serif;
  color: #333;
  background: #eee;
  cursor: pointer;
  border-bottom: 2px solid #ddd;
  display: block;
  width: 33.3%;
  float: left;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

body #main-container .tabs .tab-buttons #lamp {
  width: 33.3%;
  height: 2px;
  background: #333;
  display: block;
  position: absolute;
  top: 40px;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}

body #main-container .tabs .tab-buttons #lamp .content2 {
  left: 33.3%;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}

body #main-container .tabs .tab-buttons #lamp .content3 {
  left: 66.6%;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}

body #main-container .tabs .tab-buttons #lamp .content1 {
  left: 0;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}

body #main-container .tabs .tab-content {
  border-bottom: 3px solid #ddd;
  padding: 15px;
  background: #eee;
  display: inline-block;
  font: 400 13px "open sans", sans-serif;
  color: #333;
}

