body {
  background-color: #e0e0e0 !important;
}

body nav {
  background-color: #1858bA;
}

body #main-container .container #myTabContent .list-item {
  opacity: 1;
}

body #main-container .container #myTabContent .list-item .article_profile_text {
  padding: 8px;
}

body #main-container .container #myTabContent .list-item img {
  width: 70px;
}

body #main-container .container #myTabContent .list-item.is-hidden {
  opacity: 0;
  height: 0;
  width: 0;
  margin: 0;
  display: none;
}

body .detail-profile a img {
  width: 70px;
}

body .comment-container {
  background-color: #fff;
  margin-top: 30px;
}

body .comment-container h1 {
  margin: 0;
  font-size: 21px;
  padding: 18px 10px 0px 10px;
}

body .comment-container hr {
  margin: 8px 0;
}

body .comment-container .comments {
  margin: 10px 0;
  padding: 0 6px;
}

body .comment-container .comments .comment-container-profiles {
  padding: 8px;
}

body .fundraising-container {
  background-color: #fff;
  margin: 0 auto;
  max-width: 300px;
  text-align: center;
  font-size: 18px;
  padding: 10px !important;
  position: relative;
  padding: 0.25em 1em;
  border: solid 2px #222;
  border-radius: 3px 0 3px 0;
}

body .fundraising-container:before,
body .fundraising-container:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid 2px #222;
  border-radius: 50%;
}

body .fundraising-container:before {
  bottom: -12px;
  right: -12px;
}

body .fundraising-container:after {
  top: -12px;
  left: -12px;
}

body .fundraising-container form {
  margin: 0 auto !important;
}

@media screen and (min-width: 1024px) {
  body .navguest {
    padding: 20px 120px !important;
  }
}

body .navguest {
  box-shadow: none !important;
  background: none !important;
}

body .welcome {
  height: 600px;
  margin-top: -96px;
  display: flex;
  align-items: center;
  width: 100%;
  background-image: url(/images/geometry2.png?8b9eb18dd056013d16b945613a1ca86f);
  background-color: #1858bA;
  background-blend-mode: multiply;
  background-position: 0px 0px;
  -webkit-mask-position-x: 0px;
  padding: 104px 24px 64px;
}

body .welcome .welcome-inner-main {
  font-weight: bold;
  font-feature-settings: "palt";
  color: #fff;
  font-size: 32px;
}

body .welcome .welcome-inner-discription {
  color: #fff;
  font-size: 18px;
  width: 100%;
  font-feature-settings: "pwid";
  line-height: 2;
}

body .register-container {
  min-height: 100vh;
}

body .register-container .btn-twitter-inverse {
  color: #fff;
  background-color: #55acee;
  border-color: #2795e9;
}

body footer {
  color: #ffffff;
  background-color: #3D4040;
  margin-top: 64px;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  body footer .st-footer_container {
    display: flex;
    justify-content: space-between;
  }
}

body footer .st-footer_container .st-footer_start {
  padding: 30px 12px;
}

@media screen and (min-width: 1024px) {
  body footer .st-footer_container .st-footer_start {
    padding: 30px 24px;
  }
}

body footer .st-footer_container .st-footer_navigation {
  background-color: #3D4040;
}

body footer .st-footer_container .st-footer_navigation ul {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0 0 30px 30px;
}

@media screen and (min-width: 1024px) {
  body footer .st-footer_container .st-footer_navigation ul {
    display: flex;
    padding: 60px;
  }
}

body footer .st-footer_container .st-footer_navigation ul li {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  body footer .st-footer_container .st-footer_navigation ul li {
    margin: 4px 12px;
  }
}

body .wrapHINAGATA {
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 1024px) {
  body .welcome {
    padding: 0 120px !important;
  }
}

body #main-container {
  max-width: 1200px;
  margin: 30px auto 0 auto;
}

body .list-btn {
  text-align: center;
  margin-bottom: 20px;
}

body .list-btn button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  height: 32px;
  line-height: 32px;
  width: 120px;
  z-index: 7;
}

body .list-btn.is-btn-hidden {
  display: none;
}

.btn-twitter-inverse:hover {
  color: #fff;
  background-color: #2795e9;
  border-color: #1375c0;
}

.btn-twitter-inverse button {
  padding: 0;
  background: transparent;
  border: 0;
  outline: none;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link.active {
  background-color: #fff;
  border-bottom: #fff;
  font-weight: bold;
}

.tab-pane.active .tab-pane-header {
  padding: 1px 8px 8px 8px;
  background-color: #fff;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  margin-bottom: 1rem;
}

.tab-pane:first-child .tab-pane-header {
  border-top-left-radius: 0;
}

.userprofile {
  margin-bottom: 30px;
}

.card-text {
  white-space: pre-wrap;
  font-size: 18px !important;
  color: #000 !important;
}

