body{
    background-color: #e0e0e0 !important;
    nav{
        background-color: #1858bA;
    }
    #main-container{
        .container{
            #myTabContent{
                .list-item{
                    opacity: 1;
                    .article_profile_text{
                        padding: 8px;
                    }
                    img{
                        width: 70px;
                    }
                }
                .list-item.is-hidden {
                    opacity: 0;
                    height: 0;
                    width: 0;
                    margin: 0;
                    display: none;
                }
            }
        }
    }
    .detail-profile{
        a{
            img{
                width:70px;
            }
        }
    }
    .comment-container{
        background-color: #fff;
        margin-top:30px;
        h1{
            margin: 0;
            font-size: 21px;
            padding: 18px 10px 0px 10px;
        }
        hr{
            margin: 8px 0;
        }
        .comments{
            margin: 10px 0;
            padding: 0 6px;
            .comment-container-profiles{
                padding:8px;
            }
        }

    }
    .fundraising-container{
        background-color: #fff;
        margin: 0 auto;
        max-width: 300px;
        text-align: center;
        font-size: 18px;
        padding: 10px !important;

        position: relative;
        padding: 0.25em 1em;
        border: solid 2px #222;
        border-radius: 3px 0 3px 0;
        &:before, &:after{
            content: '';
            position: absolute;
            width:10px;
            height: 10px;
            border: solid 2px #222;
            border-radius: 50%;
        }
        &:before{
            bottom:-12px;
            right:-12px;
        }
        &:after{
            top:-12px;
            left:-12px;
        }
        form{
            margin: 0 auto !important;
        }
    }
    @media screen and (min-width: 1024px) {
    .navguest{
            padding: 20px 120px !important;
    }
    }
    .navguest{
        box-shadow:none !important;
        background: none !important;
    }
    .welcome{
        height: 600px;
        margin-top: -96px;
        display:flex;
        align-items: center;
        width:100%;
        background-image:url("imgs/geometry2.png");
        background-color:#1858bA;
        background-blend-mode: multiply;
        background-position: 0px -0px;
        -webkit-mask-position-x: -0px;
        padding: 104px 24px 64px;

        .welcome-inner-main{
            font-weight: bold;
            font-feature-settings: "palt";
            color: #fff;
            font-size: 32px;
        }
        .welcome-inner-discription{
            color: #fff;
            font-size: 18px;
            width: 100%;
            font-feature-settings: "pwid";
            line-height: 2;
        }
    }
    .register-container{
        min-height:100vh;
        .btn-twitter-inverse {
            color: #fff;
            background-color: #55acee;
            border-color: #2795e9;
        }
    }
    footer{
        color: #ffffff;
        background-color: #3D4040;
        margin-top: 64px;
        width: 100%;
        .st-footer_container{
            @media screen and (min-width: 1024px) {
                display: flex;
                justify-content: space-between;
            }
            .st-footer_start{
                padding: 30px 12px;
                @media screen and (min-width: 1024px){
                    padding: 30px 24px;
                }
            }
            .st-footer_navigation{
                background-color: #3D4040;
                ul{
                    list-style-type: none;
                    margin-bottom: 0;
                    padding: 0 0 30px 30px;
                    @media screen and (min-width: 1024px){
                        display: flex;
                        padding: 60px;
                    }
                    li{
                        margin: 4px;
                        @media screen and (min-width: 1024px){
                            margin: 4px 12px;
                        }
                    }
                }
            }
        }
    }
    .wrapHINAGATA{
        background-color: #fff;
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px;
        margin-top: 30px;
    }
    @media screen and (min-width: 1024px) {
    .welcome{
        padding: 0 120px !important;
    }
    }
    #main-container{
        max-width: 1200px;
        margin: 30px auto 0 auto;
    }
    .list-btn {
        text-align: center;
        margin-bottom: 20px;
        button {
            background-color: #333;
            color:#fff;
              border: none;
              cursor: pointer;
              outline: none;
              padding: 0;
              height: 32px;
              line-height: 32px;
              width: 120px;
              z-index: 7;
        }
    }
    .list-btn.is-btn-hidden{
      display:none;
    }
}
.btn-twitter-inverse:hover {
    color: #fff;
    background-color: #2795e9;
    border-color: #1375c0;
}
.btn-twitter-inverse{
    button {
        padding: 0;
        background: transparent;
        border: 0;
        outline: none;
    }
}

// タブ表示のCSS start
.nav-tabs {
    border-bottom:none;

  }
.nav-tabs .nav-link.active {
background-color:#fff;
border-bottom:#fff;
font-weight: bold;
}
.tab-pane.active .tab-pane-header {
padding:1px 8px 8px 8px;

background-color:#fff;
border-top-right-radius: .5rem;
border-top-left-radius: .5rem;
margin-bottom:1rem;
}
.tab-pane:first-child .tab-pane-header {
border-top-left-radius: 0;
}
// タブ表示のCSS end
.userprofile{
    margin-bottom:30px;
    img{
        width:70px;
    }
}
.card-text{
    white-space: pre-wrap;
    font-size: 18px !important;
    color: #000 !important;
}
